$primary: #015487;
$primary-alt: #00263c;

$secondary: #028242;
$secondary-alt: #015f30;

$background: #f3f1f2;
$surface: #fff;

$on-primary: #fff;
$on-secondary: #fff;

$on-background: #00263C;
$on-background-alt: #015487;

$on-surface: #00263C;
$on-surface-alt: #015487;