@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$family: 'Poppins', Arial, sans-serif;

$regular: 400;
$bold: 700;

h1 {
    font-family: $family;
    font-weight: $bold;
    font-size: 2rem;
}

h2 {
    font-family: $family;
    font-weight: $bold;
    font-size: 1.5rem;
}

h3 {
    font-family: $family;
    font-weight: $regular;
    font-size: 1.5rem;
}

p {
    font-family: $family;
    font-weight: $regular;
    font-size: 1rem;
}